<!--@if (created) {-->
<!--  <div class="alert alert-success alert-dismissible fade show container" role="alert">-->
<!--    <strong>Burger créer avec succès </strong> <a routerLink="/manager/burgers/list">Retour au catalogue</a>.-->
<!--    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--  </div>-->
<!--}-->

<section class="container">
  <form #createBurgerForm="ngForm" (ngSubmit)="onSubmitForm(createBurgerForm)">
    <div class="row">
      <div class="mb-3 col">
        <label for="name" class="form-label">Nom du burger</label>
        <input type="text"
               class="form-control"
               id="name"
               name="name"
               placeholder="e.g : Burger Big Maxi"
               [(ngModel)]="name"
               required
        />
      </div>

      <div class="mb-3 col">
        <label for="price" class="form-label">Prix</label>
        <input type="number"
               class="form-control"
               id="price"
               name="price"
               placeholder="e.g : 2500"
               [(ngModel)]="price"
               required

        >
      </div>

    </div>

    <div class="row">



      <div class="mb-3 col">
        <label for="image" class="form-label">Image</label>
        <input type="text"
               class="form-control"
               id="image"
               name="image"
               placeholder="https://url-image.com"
               [(ngModel)]="image"
               required

        >
      </div>

    </div>

    <div class="mb-3 col">
      <label for="description" class="form-label">Description</label>
      <textarea type="text"
                class="form-control"
                id="description"
                name="description"
                placeholder="e.g : Steak, Emmental, Sauce algérienne etc..."
                [(ngModel)]="description"
                required

      ></textarea>
    </div>

    <button type="submit" class="btn btn-dark w-100">Créer le burger</button>
  </form>

</section>
