
<section class="vh-100 d-flex justify-content-center align-items-center w-100">
  <form [formGroup]="loginForm" class="w-25">
    <h2 class="text-center">CBurger | Admin</h2>
    <p class="text-center">Connectez-vous ici facilement</p>
    @if (errorMessage !== ""){
      <p class="bg-danger text-light p-1 rounded">
        {{errorMessage}}
      </p>
    }
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <button type="submit" class="btn btn-dark w-100" (click)="onSubmitForm()">
      Se connecter
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"/>
      </svg>

    </button>
  </form>
</section>
