<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">cburger</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active">Catalogue</a></li>
        <li class="nav-item"><a routerLink="/customer/orders" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active">Commandes</a></li>
        <li class="nav-item"><a routerLink="/customer/aboutus" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active">A propos</a></li>
        <li class="nav-item"><a routerLink="/customer/contacts" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active">Contacts</a></li>
      </ul>
      <div>
        <a routerLink="/auth/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="active btn btn-dark w-full mx-2">Se connecter</a>
        <a routerLink="/manager/burgers/list" routerLinkActive="active" ariaCurrentWhenActive="page" class="active btn btn-dark w-full ">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" d="m16 10 3-3m0 0-3-3m3 3H5v3m3 4-3 3m0 0 3 3m-3-3h14v-3"/>
          </svg>

        </a>
      </div>
<!--      <form class="d-flex" role="search">-->
<!--        <input class="form-control me-2" type="search" placeholder="Cheeseburger..." aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Recherche</button>-->
<!--      </form>-->
    </div>
  </div>
</nav>
