<div class="container d-flex gap-1 justify-content-end mt-5">
  <a routerLink="/manager/burgers/create" class="btn btn-warning m-r-2">Modifier l'article <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
  </svg>
  </a>
  <a routerLink="/manager/burgers/create" class="btn btn-danger">Supprimer l'article <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
  </svg>
  </a>
</div>
<section class="container row mx-auto p-0">
  <div class="col">
    <h2 class="fw-bold display-6">{{burger.name}}</h2>
    <p>Ingrédients : {{burger.description}}</p>
    <h3 class="display-9">Prix : {{burger.price}}</h3>

  </div>

  <div class="col">
    @if(burger.status === 'published') {
      <p>
        <span class="badge text-bg-success">Actuellement disponible</span>
      </p>

    } @else {
      <p>
        <span class="badge text-bg-danger">Actuellement indisponible</span>
      </p>
    }
    <img src="{{burger.image}}" alt="{{burger.image}}" class="border">
  </div>
</section>

