<section class="row gap-3 my-2">

  <div class="card col text-center" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title">Commandes en cours</h4>
      <h2 class="card-title">{{loadingOrders}}</h2>
    </div>
  </div>

  <div class="card col text-center" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title">Commandes validées</h4>
      <h2 class="card-title">{{validatedOrders}}</h2>
    </div>
  </div>

  <div class="card col text-center" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title">Recettes journalière</h4>
      <h2 class="card-title">{{todayTotal}} XOF</h2>
    </div>
  </div>

  <div class="card col text-center" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title">Commandes annulées</h4>
      <h2 class="card-title">{{cancelledOrders}}</h2>
    </div>
  </div>




</section>
