<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4 h-full">
      <img src="https://img.freepik.com/free-photo/big-sandwich-hamburger-burger-with-beef-red-onion-tomato-fried-bacon_2829-5398.jpg?t=st=1722896388~exp=1722899988~hmac=ed2a85e6daaa57acdee2d95167bd914b84e5c562cfde5f6152c4d881f83d14b7&w=1480" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a [routerLink]="['/customer/catalogue', '1']" class="btn btn-dark">Commander ce burger</a>
      </div>
    </div>
  </div>
</div>
