<section class="bsb-hero-1 px-3 bsb-overlay bsb-hover-pull mb-4" style="background-image: url('https://images.unsplash.com/photo-1552913902-366e726db79e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-position: center">
  <div class="container py-5">
    <div class="row justify-content-md-center py-5">
      <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
        <h2 class="display-3 fw-bold mb-3">CBurger | Catalogue</h2>
        <p class="lead mb-3">Venez gouter la différence...</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn bsb-btn-xl btn-dark gap-3">Voir le catalogue</button>
          <button type="button" class="btn bsb-btn-xl btn-light">Contactez-nous</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <h3 class="display-6 fw-bold mb-3">Découvrez nos burgers</h3>
</section>
<section class="container">
  <div class="row align-items-center">
    @for (burger of burgers; track burger.name) {
      <app-burger-card [burger]="burger" class="col-6"></app-burger-card>
    }
  </div>
</section>

